html,body{

  /*height: 100%;*/


}
body{

background-image: url('../images/1.jpg');
background-repeat: no-repeat;
background-size: cover;
margin: 0


}
.text{
text-align: center;

}
.nav{
  /*background-color: #fff;*/
  height: 60px;

  width: 100%;
   margin: 0 auto;


}
.nav .icons{
    height: 64px;
    width: 30%;
    margin-top: 70px;
    margin-left: 7px;
    background-color: #56732c;


}
.main{
  width: 90%;
  margin: 5%;
  margin-top: 100px;
}
.content{
  width: 40%;
  border-style: solid;
  border-color: #666666;
  border-width: 1px;
  float: right;
}
.content p{
font-size: 16px;
 line-height: 26px;
 word-wrap: break-word;

}
.left-view{
background-image: url('../images/2.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;;
border: solid 5px red;

width: 55%;
height: 400px;
float: left;

}
.left-view1{
background-image: url('../images/3.jpg');

background-size: cover;
background-repeat: no-repeat;
background-position: center;
border: solid 5px red;
width: 55%;
height: 400px;
float: left;

}
/*icons的容器*/
.icons-container{
/*清楚浮动*/
clear: both;
width: 100%;
border: solid 1px #999999;

}
.icons{
  width: 100px;
  height: 40px;
  background-image: url('../images/3.jpg');
   background-size: 300%;
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;


}
.icons-1{
background-position: 0 0;

}
.icons-2{
background-position: -150px -20px;
}

.icons-3{
background-position: -20px -35px;
}

.footer{
  width: 100%;
  height: 20px;
  color: #fff;
  background-color: #000;

  text-align: center;
  font-size: 13px;

  position:relative;

  bottom: 0;


}
.go-top{
   font-size: 18px;
   font-family: "微软雅黑";
    position:fixed;

    top: 500px;
    right: 20px;
    background-color: #666666;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 20px;
    display: block;


}
.go-top a{
color: #fff;
text-decoration: none;
margin-top: 10px;
display: inline-block;

}
